<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Terms</key>
	<dict>
		<key>cycloid</key>
		<dict>
			<key>Definition</key>
			<string>The curve traced by a point on a circle that's rolling along a straight line.</string>
            <key>FirstUse</key>
            <dict>
                <key>PageReference</key>
                <string>Overview</string>
                <key>Title</key>
                <string>Overview</string>
            </dict>
		</dict>
		<key>etymology</key>
		<dict>
			<key>Definition</key>
			<string>The study of word origins.</string>
            <key>FirstUse</key>
            <dict>
                <key>PageReference</key>
                <string>Epicycloids</string>
                <key>Title</key>
                <string>Epicycloids</string>
            </dict>
		</dict>
        <key>subset</key>
        <dict>
            <key>Definition</key>
            <string>A group of elements, called a set, all of which are part of a larger set.</string>
            <key>FirstUse</key>
            <dict>
                <key>PageReference</key>
                <string>Hypotrochoids</string>
                <key>Title</key>
                <string>Hypotrochoids</string>
            </dict>
        </dict>
		<key>trochoid</key>
		<dict>
			<key>Definition</key>
			<string>The curve traced by a point on a circle that's rolling along some other surface, which can be flat or curved.</string>
            <key>FirstUse</key>
            <dict>
                <key>PageReference</key>
                <string>Hypotrochoids</string>
                <key>Title</key>
                <string>Hypotrochoids</string>
            </dict>
		</dict>
	</dict>
</dict>
</plist>
